#cuerpo{
    background-color:darkgrey
}
.Container{
  border-radius: 2px;
  border: solid black;
  display: inline-block;
  border-radius: 8px;
}
.alineacion{
  text-align: center;
}

h1 {
  text-align: center;
  margin: 2rem;
}

#propina {
  text-align: center;
}
#propina input {
  text-align: center;
}

#barmans {
  text-align: center;
}

#barmans input {
  text-align: center;
}

#cajeros {
  text-align: center;
}

#cajeros input {
  text-align: center;
}

#boton button{
    display: flex;
    align-items: center;
}

#resultado {
    text-align: center;
}

#boton{ 
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}